/results/
*.npy
/NewEnv/
/__pycache__/
NetArch.py
Eval.py
ImageEnv.py
ImageOnlyEnv.py
main.py
Mujoco_pusherBasic.py
composer.ipynb
train_GNN.py
Button.py
ButtonEnv.py
ButtonTask.py
Goal_Button.py
/feature_extractors/
/LocoTransformer_extractor/
/my_experiment/
2485_learning_vision_guided_quadrup.pdf